.header {
    position: relative;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    border-radius: 0 0 0 100px;
    padding: 56px 24px;

    background-image: url("../images/bg-pattern-intro.svg"),
        linear-gradient(to bottom, #FF8F71, #FF3E55);

    .navigation {
        display: flex;
        justify-content: space-between;
    }

    .menu__control {
        position: relative;
    }

    .close__menu {
        position: absolute;
        left: 0;
    }

    .intro {
        margin-top: 95px;
        color: $white-tx;
    }

    .intro__header {
        font-size: calculateRem(36);
        letter-spacing: -1.08px;
        font-weight: 700;
        text-align: center;
        line-height: 60px;

    }

    .intro__summary {
        text-align: center;
        font-size: calculateRem(18);
        letter-spacing: 1px;
        font-weight: 200;
        line-height: 30px;
    }

    .intro__btns__holder {
        display: flex;
        gap: 10px;
        margin-top: 16px;
        margin-bottom: 98px;
        justify-content: center;
    }

    .btn__intro {
        font-size: 16px;
        padding: 1rem 0;
        border: 1px solid white;
        border-radius: 28px;
        font-weight: 700;
        color: white;
        flex: 1 1 40%;
        max-width: 200px;
    }

}

.nav__list__container {
    position: absolute;
    left: 50%;
    width: 86%;
    background-color: white;
    margin-left: -43%;
    // max-width: 580px;
    text-align: center;
    margin-top: 70px;
    border-radius: 5px;

    .parent__list__item {
        margin-top: 20px;
    }

    .parent__list__item__btn {
        font-size: calculateRem(18);
        line-height: 28px;
        font-weight: 600;
        padding: 0.1rem 1rem;
        border: 2px solid transparent;
        font-family: 'Overpass', sans-serif;
        color: $btn-list-color;
    }

    li {
        list-style: none;
    }

    .nav__list__child li {
        font-size: calculateRem(16);
        font-weight: 300;
        margin-top: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
    }

    @include mQ(680px) {}

}

.nav__list__child {
    display: none;
}

.show__nav__list__child {
    display: block;
    margin-top: 10px;
    background-color: #979797;
    width: 85%;
    margin: auto;
  
}

.rotate__nav__first__child {
    transform: rotate(180deg);
    transition: ease-in-out 0.5s;
}