.header {
    position: relative;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    border-radius: 0 0 0 100px;
    padding: 56px 24px;

    background-image: url("../images/bg-pattern-intro.svg"),
        linear-gradient(to bottom, #FF8F71, #FF3E55);

    .navigation {
        display: flex;
        justify-content: space-between;
    }

    .menu__control {
        position: relative;
    }

    .close__menu {
        position: absolute;
        left: 0;
    }

    .intro {
        margin-top: 95px;
        color: $white-tx;
    }

    .intro__header {
        font-size: calculateRem(36);
        letter-spacing: -1.08px;
        font-weight: 700;
        text-align: center;
        line-height: 60px;

    }

    .intro__summary {
        text-align: center;
        font-size: calculateRem(18);
        letter-spacing: 1px;
        font-weight: 200;
        line-height: 30px;
    }

    .intro__btns__holder {
        display: flex;
        gap: 10px;
        margin-top: 16px;
        margin-bottom: 98px;
        justify-content: center;
    }

    .btn__intro {
        font-size: 16px;
        padding: 1rem 0;
        border: 1px solid white;
        border-radius: 28px;
        font-weight: 700;
        color: white;
        flex: 1 1 40%;
        max-width: 200px;
    }

    @include mQ(980px) {
        padding: 56px 80px;

        //hide the menu control for desktop
        .menu__control {            
            display: none;
        }
    }

    @include mQ(1280px) {
        padding: 63px 167px;
    }

}

.nav__list__container {
    position: absolute;
    left: 50%;
    width: 86%;
    background-color: white;
    margin-left: -43%;
    // max-width: 580px;
    text-align: center;
    margin-top: 70px;
    border-radius: 5px;

    .parent__list__item {
        margin-top: 17px;
    }

    .parent__list__item--btn {
        font-size: calculateRem(18);
        line-height: 28px;
        font-weight: 600;
        padding: 0.1rem 1rem;
        border: 2px solid transparent;
        font-family: 'Overpass', sans-serif;
        color: $btn-list-color;
    }

    li {
        list-style: none;
    }

    .nav__list__child li {
        margin-top: 22px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px;
    }

    .nav__list__child--links {
        text-decoration: none;
        font-size: calculateRem(16);
        font-weight: 300;
        color: $btn-list-color;
    }

    .login__signup {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid grey;
        //width: 85%;
        margin: 25px;
        padding: 25px;
        align-items: center;
    }

    .login {
        width: 137px;
    }

    .signup {
        width: 137px;
        // display: block;
        // margin: auto;
        font-size: calculateRem(16);
        background: linear-gradient(to right, #FF8F71, #FF3E55);
        padding: 14px;
        border-radius: 20px;
        margin-top: 37px;
        color: $white-tx;
    }

    @include mQ(680px) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 70%;
        margin-left: -35%;

        .nav__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex: 1 1 60%;
            justify-content: space-around;

        }

        .login__signup {
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            gap: 15px;
        }
    }

    @include mQ(980px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin-top: 45px;
        top: 0;
        background-color: inherit;
        width: 80%;   
        margin-left: -30%; 
        
        .parent__list__item--btn {            
            color: $white-tx
        }

        .login__signup {
            margin: 0;
            padding-top: 0;
            border-top: 0;
        }

        .signup {
            margin-top: 0;
        }
        .arrow__dropdown {
            filter: invert(0%) sepia(100%) brightness(133%);
        }

        .nav__list {
            justify-content: flex-start;
        }
        
    }

    @include mQ(1280px) {
        margin-left: -28%; 
        width: 66%;
        .parent__list__item--btn {            
            padding: 0.1rem 0.9rem; 
            font-family: 'Ubuntu', sans-serif;               
            font-size: calculateRem(16);    
        }

        .login {           
            color: $white-tx
        }

        .signup {
            color: $red-tx;
            background-color: $white-bg;
            background: linear-gradient(to right, $white-bg);
        }
        .nav__list__child--links {
            //color: white;
            font-family: 'Ubuntu', sans-serif; 
            font-size: calculateRem(15);
        }
    }

}

.nav__list__child {
    display: none;
}

.show__nav__list__child {
    display: block;
    margin-top: 10px;
    background-color: #979797;
    width: 85%;
    margin: auto;

}

.rotate__nav__first__child {
    transform: rotate(180deg);
    transition: ease-in-out 0.5s;
}