.hero {
    display: grid;
    grid-template-rows: auto;
    /* place-content: center; */
    //text-align: center;
    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;
    place-items: center;
    gap: 42px;

    .hero__title {
        font-size: calculateRem(28);
        color: $grey-tx;
        letter-spacing: -0.84;
    }

    .hero__img {
        max-width: 100%;
    }

    .hero__main__content__subtitle,
    .hero__sub__content__subtitle {
        @include headings;
    }

    .hero__main__content__content,
    .hero__sub__content__content {
        @include paraText;
    }

    @include mQ(680px) {
        padding: 0 6.25rem;
    }

    @include mQ(980px) {
        grid-template-columns: 1fr 1fr;

        .hero__title {
            grid-area: 1/1/2/3;
        }

        .hero__sub__content {
            grid-area: 2/1/2/2;
        }

        .hero__main__content {
            grid-area: 3/1/3/3;
        }

        .hero__img {
           // grid-area: 2/1/2/3;
        }
    }
}