.hero {
    display: grid;
    grid-template-rows: auto;
    /* place-content: center; */
    //text-align: center;
    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;
    place-items: center;
    gap: 42px;

    .hero__title {
        font-size: calculateRem(28);
        color: $grey-tx;
        letter-spacing: -0.84;
    }

    .hero__img {
        max-width: 100%;
    }

    .hero__main__content__subtitle,
    .hero__sub__content__subtitle {
        @include headings;
    }

    .hero__main__content__content,
    .hero__sub__content__content {
        @include paraText;
    }
}