// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16;
    //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}

@function calculateListPos($size) {
    $marginLeft: -$size / 2;

    @return #{$marginLeft};
}

@mixin mQ($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin paraText {
    text-align: center;
    font-size: calculateRem(16);
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: $lt-grey-tx;
}