$white-tx: #ffffff;
$white-bg: #ffffff;
$dark-blue-bg: #3E4062;
$very-dark-blue-bg: #24242c;
$btn-list-color: #e1ebf5;
$grey-tx: #1F3E5A;
$lt-grey-tx: #4C5862;
$list-width: 86%;
$red-tx: hsl(356, 100%, 66%);