@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  overflow-x: hidden;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  border-radius: 0 0 0 100px;
  padding: 56px 24px;
  background-image: url("../images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#FF8F71), to(#FF3E55));
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(to bottom, #FF8F71, #FF3E55);
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__control {
  position: relative;
}

.header .close__menu {
  position: absolute;
  left: 0;
  visibility: hidden;
}

.header .intro {
  margin-top: 95px;
  color: #ffffff;
}

.header .intro__header {
  font-size: 2.25rem;
  letter-spacing: -1.08px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}

.header .intro__summary {
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 30px;
}

.header .intro__btns__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 98px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .btn__intro {
  font-size: 16px;
  padding: 1rem 0;
  border: 1px solid white;
  border-radius: 28px;
  font-weight: 700;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 137px;
}

.header .btn__start {
  background-color: #ffffff;
  color: #ff525d;
}

.header .js__close__menu {
  visibility: visible;
}

.header .js__open__menu {
  visibility: hidden;
}

@media screen and (min-width: 980px) {
  .header {
    padding: 56px 80px;
  }
  .header .menu__control {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 63px 167px;
  }
  .header .intro {
    margin-top: 118px;
  }
  .header .intro__header {
    font-size: 4rem;
    letter-spacing: -1.92px;
  }
  .header .intro__summary {
    font-size: 1.25rem;
    letter-spacing: 0px;
    margin-top: 24px;
  }
  .header .intro__btns__holder {
    margin-top: 55px;
    margin-bottom: 87px;
  }
}

.nav__list__container {
  position: absolute;
  left: 50%;
  width: 86%;
  background-color: white;
  margin-left: -43%;
  text-align: center;
  margin-top: 70px;
  border-radius: 5px;
  display: none;
}

.nav__list__container .parent__list__item {
  margin-top: 17px;
}

.nav__list__container .parent__list__item:hover > ul {
  display: block;
  margin-top: 10px;
  background-color: #ffffff;
  margin: auto;
}

.nav__list__container .nav__list__child {
  display: none;
}

.nav__list__container .parent__list__item--btn {
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 600;
  padding: 0.1rem 1rem;
  border: 2px solid transparent;
  font-family: 'Overpass', sans-serif;
  color: #1F3E5A;
  /*
        &:hover ~ ul {
            display: block;
            margin-top: 10px;
            background-color: #979797;
            width: 85%;
            margin: auto;
        }*/
}

.nav__list__container li {
  list-style: none;
}

.nav__list__container .nav__list__child li {
  margin-top: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}

.nav__list__container .nav__list__child--links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: #4C5862;
}

.nav__list__container .login__signup {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid grey;
  margin: 25px;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list__container .login {
  width: 137px;
}

.nav__list__container .signup {
  width: 137px;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF8F71), to(#FF3E55));
  background: linear-gradient(to right, #FF8F71, #FF3E55);
  padding: 14px;
  border-radius: 20px;
  margin-top: 37px;
  color: #ffffff;
}

@media screen and (min-width: 680px) {
  .nav__list__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 70%;
    margin-left: -35%;
    display: none;
  }
  .nav__list__container .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__list__container .login__signup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 980px) {
  .nav__list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 45px;
    top: 0;
    background-color: inherit;
    width: 80%;
    margin-left: -30%;
  }
  .nav__list__container .nav__list__child {
    position: fixed;
    width: 200px;
  }
  .nav__list__container .parent__list__item--btn {
    color: #ffffff;
  }
  .nav__list__container .login__signup {
    margin: 0;
    padding-top: 0;
    border-top: 0;
  }
  .nav__list__container .login {
    color: #ffffff;
  }
  .nav__list__container .signup {
    margin-top: 0;
  }
  .nav__list__container .arrow__dropdown {
    -webkit-filter: invert(0%) sepia(100%) brightness(133%);
            filter: invert(0%) sepia(100%) brightness(133%);
  }
  .nav__list__container .nav__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .nav__list__container {
    margin-left: -28%;
    width: 71%;
  }
  .nav__list__container .parent__list__item--btn {
    padding: 0.1rem 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
  }
  .nav__list__container .parent__list__item--btn:hover + ul {
    background-color: white;
  }
  .nav__list__container .signup {
    color: #ff525d;
    background-color: #ffffff;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff));
    background: linear-gradient(to right, #ffffff);
  }
  .nav__list__container .nav__list__child--links {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9375rem;
  }
}

.show__nav__list__container {
  display: block;
}

@media screen and (min-width: 980px) {
  .show__nav__list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.show__nav__list__child {
  display: block;
  margin-top: 10px;
  background-color: #979797;
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .show__nav__list__child {
    background-color: #ffffff;
  }
}

.rotate__nav__first__child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.wrapper {
  overflow-x: hidden;
}

button {
  background: inherit;
  border: none;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  /* place-content: center; */
  margin-top: 100px;
  margin-left: 24px;
  margin-right: 24px;
  place-items: center;
  gap: 42px;
}

.hero .hero__title {
  font-size: 1.75rem;
  color: #1F3E5A;
  letter-spacing: -0.84;
}

.hero .hero__picture__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .hero__picture__img__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero .hero__main__content__subtitle,
.hero .hero__sub__content__subtitle {
  text-align: center;
  font-size: 1.75rem;
  line-height: 32px;
  font-weight: 400;
  padding: 0.2rem 1rem;
  color: #1F3E5A;
  margin-bottom: 1rem;
}

.hero .hero__main__content__content,
.hero .hero__sub__content__content {
  text-align: center;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #4C5862;
}

@media screen and (min-width: 680px) {
  .hero {
    padding: 0 6.25rem;
  }
}

@media screen and (min-width: 980px) {
  .hero {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .hero .hero__title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }
  .hero .hero__sub__content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/2/2;
  }
  .hero .hero__main__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3/1/3/3;
  }
  .hero .hero__picture {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/2/3;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-right: 0;
    padding-left: 10.3125rem;
    position: relative;
  }
  .hero .hero__main__content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/2/2;
    padding-right: 55px;
  }
  .hero .hero__sub__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/3/2;
    padding-right: 55px;
  }
  .hero .hero__title {
    font-size: 2.5rem;
    letter-spacing: -1.2px;
  }
  .hero .hero__picture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/4/3;
  }
  .hero .hero__main__content__subtitle,
  .hero .hero__sub__content__subtitle {
    text-align: left;
    padding: 0;
    line-height: 28px;
  }
  .hero .hero__main__content__content,
  .hero .hero__sub__content__content {
    text-align: left;
  }
}

.secondary {
  position: relative;
  background-color: #2d2e40;
  background-image: url("../../images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, left bottom, from(#2d2e40));
  background-image: url("../../images/bg-pattern-circles.svg"), linear-gradient(#2d2e40);
  background-position: 50% -220px;
  background-repeat: no-repeat;
  background-size: 165% 87%;
  margin-top: 272px;
  border-radius: 0 100px 0 100px;
}

.secondary .secondary__display {
  position: relative;
  top: -200px;
}

.secondary .secondary__display__img {
  max-width: 100%;
}

.secondary .secondary__content {
  position: relative;
  top: -161px;
  padding: 24px 24px 0;
  color: #ffffff;
  text-align: center;
}

.secondary .secondary__content__title {
  font-size: 2.5rem;
  letter-spacing: -1.2px;
  line-height: 55px;
  margin-bottom: 20px;
}

.secondary .secondary__content__content {
  text-align: center;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #4C5862;
  color: #ffffff;
}

@media screen and (min-width: 680px) {
  .secondary {
    background-size: 50% 100%;
    background-position: 0% 0px;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
  }
  .secondary .secondary__display {
    top: 0;
  }
  .secondary .secondary__content {
    top: 0;
  }
}

@media screen and (min-width: 980px) {
  .secondary {
    position: relative;
    gap: 100px;
  }
  .secondary .secondary__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 160px;
  }
  .secondary .secondary__content__title {
    text-align: left;
  }
  .secondary .secondary__content__content {
    text-align: left;
  }
  .secondary .secondary__display__img {
    width: 67%;
    position: relative;
    top: 24px;
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    left: 125px;
  }
}

.about {
  margin-top: 72px;
}

.about .about__content {
  padding: 0 28px;
}

.about .about__content__main {
  margin-top: 65px;
  margin-bottom: 74px;
}

.about .about__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__display__img__img {
  max-width: 100%;
}

.about .about__content__main__title,
.about .about__content__sub__title {
  text-align: center;
  font-size: 1.75rem;
  line-height: 32px;
  font-weight: 400;
  padding: 0.2rem 1rem;
  color: #1F3E5A;
  margin-bottom: 1rem;
}

.about .about__content__main__content,
.about .about__content__sub__content {
  text-align: center;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #4C5862;
}

.about .about__content__sub__content {
  padding: 10px;
}

@media screen and (min-width: 680px) {
  .about .about__content {
    padding: 0 100px;
  }
}

@media screen and (min-width: 980px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about .about__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
  .about .about__content {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    margin-top: 224px;
  }
}

.about .about__display {
  position: relative;
}

.about .about__display__img__img {
  position: relative;
  left: -210px;
}

.about .about__content__main__title, .about .about__content__sub__title {
  text-align: left;
  padding: 0;
}

.about .about__content__main__content, .about .about__content__sub__content {
  text-align: left;
  padding: 0;
}

.about .about__content__sub,
.about .about__content__main {
  margin-left: -25px;
  padding-right: 155px;
}

main {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.footer {
  background-color: #24242c;
  margin-top: 92px;
  border-radius: 0 100px 0 0;
  padding-bottom: 30px;
}

.footer .footer__logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 76px;
}

.footer .footer__product,
.footer .footer__company,
.footer .footer__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer .footer__title {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 33px;
  font-family: 'Ubuntu', sans-serif;
}

.footer .footer__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.footer .footer__child li {
  list-style-type: none;
  text-align: center;
}

.footer .footer__links {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  line-height: 33px;
  font-weight: 300;
  opacity: 0.5;
}

.footer .footer__product, .footer .footer__company, .footer .footer__connect {
  margin-bottom: 50px;
}

@media screen and (min-width: 680px) {
  .footer .footer__list__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 980px) {
  .footer .footer__list__container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */