@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  overflow-x: hidden;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  border-radius: 0 0 0 100px;
  padding: 56px 24px;
  background-image: url("../images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#FF8F71), to(#FF3E55));
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(to bottom, #FF8F71, #FF3E55);
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__control {
  position: relative;
}

.header .close__menu {
  position: absolute;
  left: 0;
}

.header .intro {
  margin-top: 95px;
  color: #ffffff;
}

.header .intro__header {
  font-size: 2.25rem;
  letter-spacing: -1.08px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}

.header .intro__summary {
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 30px;
}

.header .intro__btns__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 98px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .btn__intro {
  font-size: 16px;
  padding: 1rem 0;
  border: 1px solid white;
  border-radius: 28px;
  font-weight: 700;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 200px;
}

.nav__list__container {
  position: absolute;
  left: 50%;
  width: 86%;
  background-color: white;
  margin-left: -43%;
  text-align: center;
  margin-top: 70px;
  border-radius: 5px;
}

.nav__list__container .parent__list__item {
  margin-top: 17px;
}

.nav__list__container .parent__list__item--btn {
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 600;
  padding: 0.1rem 1rem;
  border: 2px solid transparent;
  font-family: 'Overpass', sans-serif;
  color: #1F3E5A;
}

.nav__list__container li {
  list-style: none;
}

.nav__list__container .nav__list__child li {
  margin-top: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}

.nav__list__container .nav__list__child--links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: #1F3E5A;
}

.nav__list__container .login__signup {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid grey;
  margin: 25px;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list__container .login {
  width: 137px;
}

.nav__list__container .signup {
  width: 137px;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF8F71), to(#FF3E55));
  background: linear-gradient(to right, #FF8F71, #FF3E55);
  padding: 14px;
  border-radius: 20px;
  margin-top: 37px;
  color: #ffffff;
}

@media screen and (min-width: 680px) {
  .nav__list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 70%;
    margin-left: -35%;
  }
  .nav__list__container .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__list__container .login__signup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 980px) {
  .nav__list__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 45px;
    top: 0;
    background-color: inherit;
  }
  .nav__list__container .parent__list__item--btn {
    color: #ffffff;
  }
  .nav__list__container .login__signup {
    margin: 0;
    padding-top: 0;
    border-top: 0;
  }
  .nav__list__container .signup {
    margin-top: 0;
  }
  .nav__list__container .arrow__dropdown {
    -webkit-filter: invert(0%) sepia(100%) brightness(133%);
            filter: invert(0%) sepia(100%) brightness(133%);
  }
}

.nav__list__child {
  display: none;
}

.show__nav__list__child {
  display: block;
  margin-top: 10px;
  background-color: #979797;
  width: 85%;
  margin: auto;
}

.rotate__nav__first__child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.wrapper {
  overflow-x: hidden;
}

button {
  background: inherit;
  border: none;
}
/*# sourceMappingURL=style.css.map */